<h1>Posts#show</h1>

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b00ef6c67b.js" crossorigin="anonymous"></script>
    </head>

<body>
<!-- 投稿したユーザーのプロフィールリンク -->
  <table class='table'>
    <tr>
      <td class="d-flex align-items-center justify-content-start">
        <%= link_to user_path(@user) do %> <!-- ユーザーの投稿一覧ページにリンク -->
          <%= image_tag @user.get_profile_image(100,100), class: "rounded-circle mr-2 profile-img" %>
          <p style="font-family: 'Quicksand', sans-serif;"><%= @user.name %></p>
        <% end %>
      </td>
    </tr>
  </table>

<!-- 投稿一覧 -->
    <div class="d-flex flex-wrap justify-content-center">
      <% @user.posts.each do |post| %>
        <div class="card" style="width: 18rem; margin: 10px;">
          <% if post.image.attached? %>
            <%= image_tag post.image.variant(resize_to_limit: [300, 300]).processed, class: 'card-img-top square-img' %>
          <% else %>
            <%= image_tag 'no_image.png', class: 'card-img-top square-img' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>

            <!-- 投稿者本人のみeditとdestroyリンクを表示 -->
            <% if current_user == post.user %>
              <%= link_to 'Edit', edit_post_path(post), class: 'text-dark' %>
              <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' }, class: 'text-dark' %>
            <% end %>

            <%= link_to 'View Details', post_path(post), class: 'text-dark' %>
          </div>
        </div>
      <% end %>
    </div>
  </body>

  <style>
    /* 画像のサイズを調整 */
    .profile-img {
      width: 60px;  /* 幅を50pxに設定 */
      height: 60px;  /* 高さを50pxに設定 */
      object-fit: cover;  /* 画像が円形に収まるように調整 */
    }

    /* 画像の正方形を維持するための修正 */
  .card-img-top {
    width: 100%;          /* 親要素に合わせて幅を100% */
    height: 200px;        /* 高さを固定して正方形にする */
    object-fit: cover;    /* 画像の縦横比を保ちつつ、領域に収める */
  }

  </style>
</html>
