<!DOCTYPE html>
<html lang="ja">
  <head>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Google FontsでM Quicksand を読み込む -->
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
  <!-- Google FontsでM PLUS Rounded を読み込む -->
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@400;700&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Loca Event Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/b00ef6c67b.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>

      /* タイトル全体のスタイル */
      .header-title h2 {
        font-family: 'Quicksand', sans-serif;  /* Quicksandを使用 */
        font-size: 1.5rem;  /* フォントサイズ */
        letter-spacing: 5px;  /* 文字間隔を広げる */
        display: flex;  /* Flexboxを使って横並びに */
        justify-content: center; /* 横中央揃え */
        align-items: center;  /* 縦中央揃え */
      }

      /* "岡山"の部分のスタイル */
      .highlight {
        font-family: 'M PLUS Rounded 1c', sans-serif;  /* M PLUS Rounded 1cを使用 */
        display: inline-flex;  /* インラインのFlexboxを使う */
        justify-content: center;  /* 横方向中央揃え */
        align-items: center;  /* 縦方向中央揃え */
        background-color: #b3e6b3;  /* パステルグリーン */
        color: white;  /* 文字色を白 */
        border-radius: 50%;  /* 丸くする */
        width: 60px;  /* 横のサイズ */
        height: 60px; /* 高さも同じにして正円にする */
        font-weight: bold;  /* 文字を太く */
        margin: 0 5px;  /* 丸の前後にスペースを追加 */
        text-align: center;  /* 横中央揃え */
      }

      .header-links a {
        color: #38c172;  /* リンクの色を青に変更 */
      }

      .social-icons i {
        font-size: 18px;  /* アイコンのサイズを40pxに設定 */
        color: #E4405F;  /* 赤色 */
      }

    </style>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="d-flex flex-column">
      <!-- 1段目 : タイトル -->
      <div class="header-title text-center">
        <h2 class="text-center">
          Local Event Info in <span class="highlight">岡山</span>
        </h2>
      </div>

      <!-- 2段目 : リンク -->
      <div class="header-links">
        <ul class="d-flex justify-content-center list-unstyled">
          <% if user_signed_in? %>
            <li class="mx-4">
              <%= link_to "Log out", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            </li>
            <li class="mx-4">
              <%= link_to "Home", top_homes_path %>
            </li>
            <li class="mx-4">
              <%= link_to "My page", users_path %>
            </li>
            <li class="mx-4">
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
          <% end %>
        </ul>
      </div>
    </header>
    <%= yield %>

    <footer class="d-flex flex-column" style="font-family: 'Quicksand', sans-serif;">

      <!-- アイコンとyieldの間にスペースを追加 -->
      <div style="margin-top: 30px;"></div>

      <!-- ソーシャルメディアアイコン -->
      <div class="social-icons text-center">
        <!-- X (Twitter) アイコン -->
        <a href="https://twitter.com" target="_blank" class="mx-3">
          <i class="fab fa-twitter fa-2x"></i>
        </a>
        <!-- Instagram アイコン -->
        <a href="https://instagram.com" target="_blank" class="mx-3">
          <i class="fab fa-instagram fa-2x"></i>
        </a>
        <!-- Facebook アイコン -->
        <a href="https://facebook.com" target="_blank" class="mx-3">
          <i class="fab fa-facebook fa-2x"></i>
        </a>
      </div>

      <!-- アイコンとフッタータイトルの間にスペースを追加 -->
      <div style="margin-bottom: 20px;"></div>

      <div class="header-title text-center">
        <h6 class="text-center">
          <p>&copy; 2025 Local Event Info</p>
        </h6>
      </div>
    </footer>
  </body>
</html>
